body{
    /* font-family: 'Nuecha', cursive; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: white !important;
    margin: 30px;
    background-image: url(https://media1.tenor.com/images/76fa74de3213b6eea37d4bbfe00bac6b/tenor.gif?itemid=3476042)
}
.jumbotron{
    border-radius: 5px;
    margin-bottom: 20px;
    background: linear-gradient(rgb(141, 85, 141), rgb(55, 108, 116));
}
.panel{
    border-radius: 5px;
}
.panel-heading{
    text-align: center;
    padding: 5px;
    background: linear-gradient(rgb(141, 85, 141), rgb(55, 108, 116));
}
h4{
    font-size: 25px;
    font-weight: bold;
    color: white !important;
}
.panel-body{
    overflow: auto;
    background: linear-gradient(gray, rgb(141, 85, 141));
}

.gifButton {
    margin: 5px;
    border-radius: 5px;
    background: rgb(38, 73, 114);
    color: white !important;
}
.gifButton:hover {
    background: linear-gradient(rgb(129, 63, 155), rgb(197, 173, 40));
}
#newDiv{
    display: inline-block;
    border: groove;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(rgb(134, 38, 91), grey);
}
#gifsDiv {
    text-align: center;
    margin-top: 0px;
}
#buttonsHere{
    height: 100px;
}
#gifsHere{
    height: 400px;
}
#favsHere{
    height: 300px;
    overflow: auto;
}
#mainDiv{
    border-top: dashed;
    border-width: 1px;
    border-color: white;
}

