body{
    font-family: 'Nuecha', cursive;
    background-color: gray;
    color: white !important;
    margin: 30px;
    background-image: url(http://wallpaper-gallery.net/images/gif-wallpapers/gif-wallpapers-4.jpg)
}
.jumbotron{
    border-radius: 5px;
    margin-bottom: 20px;
    background: linear-gradient(purple, rgb(0, 225, 255));
}
.panel{
    border-radius: 5px;
}
.panel-heading{
    text-align: center;
    padding: 5px;
    background: linear-gradient(purple, rgb(0, 225, 255));
}
h4{
    font-size: 25px;
    font-weight: bold;
    color: white !important;
}
.panel-body{
    /* height: 500px; */
    overflow: auto;
    background: linear-gradient(rgb(109, 194, 206), rgb(197, 104, 197), white);
}

.gifButton {
    margin: 5px;
    border-radius: 5px;
    background: rgb(5, 87, 180);
    color: white !important;
}
.gifButton:hover {
    background-color: rgb(103, 4, 143);
}
#newDiv{
    display: inline-block;
    border: groove;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(rgb(134, 38, 91), grey);
}
#gifsDiv {
    text-align: center;
    margin-top: 0px;
}
#buttonsHere{
    height: 100px;
}
#gifsHere{
    height: 400px;
}
#mainDiv{
    border-top: dashed;
    border-width: 1px;
    border-color: white;
}

